body {
    box-sizing: border-box;
    margin: 0;
    background: #ffcc00;
    font-family: 'Montserrat', sans-serif;
}

.title-wrapper {
    background: rgb(12, 22, 168);
    height: 28vh;
}

.title-wrapper h1 {
    margin-top: 0;
    text-align: center;
    padding-top: 1.2em;
    font-size: 3rem;
    color: #fff;
}

.title-wrapper .form {
    display: flex;
    width: 40%;
    margin: auto;
}

.title-wrapper input {
    width: 30vw;
    height: 6vh;
    display: block;
    border: none;
    font-size: 1.5rem;
    padding-left: .4rem;
}

.title-wrapper .submit-button {
    height: 6.3vh;
    margin-left: 1.5rem;
    display: block;
    color: #fff;
    background: rgb(247, 78, 78);
    border: none;
    font-size: 1.3rem;
    width: 7vw;
    font-weight: 700;
    cursor: pointer;
    transition: all .3s ease-in-out;
}

.title-wrapper .submit-button:hover {
    transform: scale(1.1);
}

.content-collection {
    margin-top: 4rem;
}

.content-container {
   margin: auto;
   width: 45vw;
   display: flex;
   justify-content: space-between;
   background: #fff;
   border-radius: 10px;
   margin-top: 2rem;
   height: 7vh;
   padding-left: 1rem;
}

.content-container p {
    font-size: 1.2rem;
    font-weight: 700;
}

.content-controller {
    margin-top: .55rem;
}

.content-controller button {
    height: 5vh;
    width: 5vw;
    margin-right: .8rem;
    font-weight: 700;
    border-radius: 4px;
    border: none;
    font-size: .95rem;
    cursor: pointer;
    transition: all .2s ease-in-out;
}

.content-controller .update-button {
    background: rgb(11, 21, 167);
    color: #fff;
}

/* transition */

.content-controller .delete-button:hover{
    background: red;
    color: #fff;
}

.content-controller .update-button:hover{
    background: green;
}


